<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <style>
        body{
            font-family:Arial;
            background:#eef5ff;
            text-align:center;
            margin-top:100px;
        }

        a{
            text-decoration:none;
            background:red;
            color:white;
            padding:10px 20px;
            border-radius:5px;
        }
    </style>
</head>
<body>

<h1>Hospital Management System</h1>

<h2>Welcome, {{ user }}</h2>

<p>You are successfully logged in.</p>

<a href="{{ url_for('logout') }}">Logout</a>

</body>
</html>
